.CurrentWeather{
    height:28%;
    /* background: rgb(72, 38, 38); */
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width:768px) {
        height: 80vh;
        flex-direction: column;
        align-items: flex-start;
    }
}
.temperature{
    width: max-content;
    min-width: 20%;
    min-height: 90%;
    height: max-content;
    background: transparent;
    border: 1px solid white;
    border-radius: 1rem;
    padding-left: 20px;
    /* padding: 0px 1px 0px 20px; */
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (max-width:768px) {
        height: 38%;
        min-height: 38%;
        flex-direction: column;
        padding-right: 20px;
        width: 60%;
        min-width: 60%;
    }

    @media screen and (max-width: 1200px) and (min-width: 769px) {
        min-width: 22%;
    }

    h3{
        
        font-family: var(font-family);
        font-size: 23px;
        font-weight: 500;
    }
}
.value{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.temperatureDisplay{
    
    p{
        font-family: var(font-family);
        font-size: 25px;
        font-weight: 500;
    }
}
.feelsLike{

    p{
        font-family: var(font-family);
        font-size: 18px;
        font-weight: 400;
    }
}

.weather-icon{
    height: 90px;
    width: 90px;
    /* background: black; */

    @media screen and (max-width: 1200px) and (min-width: 769px) {
        height: 66px;
        width: 66px;
    }

    @media screen and (max-width:768px) {
        height: 55px;
        width: 55px;
    }


    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.other-infos{
    width: 63%;
    height: 90%;
    background: transparent;
    border: 1px solid white;
    border-radius: 1rem;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;

    @media screen and (max-width:768px) {
        height: 48%;
        width: 95%;
        /* flex-direction: column; */
    }
}
.widget{
    height: 30%;
    width: 40%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        font-size: 16px;
    }

    p{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        font-size: 15px;
    }
}
.icon{
    height: 20px;
    width: 20px;
}