.Forecast{
    height: 33%;
    width: 100%;
    /* background: rgb(18, 18, 92); */
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media screen and (max-width:768px) {
        height: 50vh;
        flex-direction: column;
    }
}
.hold-weather-widget{
    height: 83%;
    width: 100%;
    padding-left: 10px;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    /* background: green; */
    font-family: var(font-family);
    -ms-overflow-style: none; 
    /* overflow: hidden; */
     scrollbar-width: none
     
}
.hold-weather-widget::-webkit-scrollbar{
    display: none;
}
.widget-card{
    height: 100%;
    width: 150px;
    background: transparent;
    border-radius: 1rem;
    border: 1px solid white;
}