.HeaderBody{
    height: 15%;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.mobileNav{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: transparent;
    top: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: flex-end;
}
.wrapper{
    height: 100%;
    width: 90%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    background: rgb(227, 239, 240);
    flex-direction: column;
    gap: 20px;
}
.navHeader{
    height: 10%;
    width: 100%;
    display: flex;
    background: rgb(121, 205, 239);
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;


    .left{
        width: max-content;
        height: max-content;
        display: flex;
        align-items: center;

        p{
            font-family: lucida calligraphy;
            font-size: 14px;
            transition: all 350ms ease-in-out;
        }
        
    }
    
}
.navButtons{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p{
        font-size: 20px;
        padding: 5px;
        width: 60%;
        border-radius: 5px;
        padding-inline: 5px;
    }

    p:hover{
        transition: all 350ms ease-in-out;
        cursor: pointer;
        /* background: rgb(143, 227, 213); */
        background: skyblue;

    }
}
.header-wrapper{
    height: 80%;
    width: 90%;
    background: white;
    border-radius: 40px;
    background: transparent;
    border: 2px solid white ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    
}
.logo-area{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    /* background: red; */

    & p{
        font-family: lucida calligraphy;
        color: white;
        font-weight: 550;

        @media screen and (max-width:767px) {
            font-size: 16px;
        }
    }

    @media screen and (max-width:767px) {
        width: max-content;
    }
}
.logo{
    height: 60px;
    width: 60px;
    /* background: blue; */
    
    @media screen and (max-width:767px) {
        height: 40px;
        width: 40px;
    }
    

    & img{
        height: 100%;
        width: 100%;
    }
}
.auth-buttons{
    height: 100%;
    width: 30%;
    /* background: rebeccapurple; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    & button{
        height: 75%;
        border-radius: 7px;
        border: none;
        font-size: 18px;
        background: rgb(24, 162, 201);
        background: rgb(46,122,235);
        color: white;
        width: 36%;
    }
    & .transparent{
        background: transparent;
        border: 1px solid white;
    }
    & button:hover{
        cursor: pointer;
        background: rgb(25, 133, 235);
    }
}
.menu{
    display: none;
}
@media screen and (max-width: 767px) {
    .menu{
        display: flex;
    }
    .auth-buttons{
        display: none;
    }
}